@charset "utf-8";
/* CSS Document */

#Titulobarca
{background:#B80315; color:#FF0; size:"6"; text-align:justify}

#titulobarsa
{background:#009; color:#FF0}

#Introduccion
{background:#339; color:#FFF}

#super
{background:#309; color:#FF0; size:"6"; text-align:justify}

#barca
{background:#006; color:#930421; size:"6"; text-align:justify}
#fondo
{
background:#FFF
}

